openapi: 3.0.3
info:
  title: FVAP.gov XML Ballot Rules eVAG API
  description: The Federal Voting Assistance Program (FVAP) publishes XML feeds providing voter information by U.S. state and territory. Each jurisdiction exposes four datasets covering important info, deadline dates, ballot rules, and election offices, plus a combined electronic Voting Assistance Guide (eVAG).
  version: 1.0.0
  contact:
    name: FVAP
    url: https://www.fvap.gov/
  license:
    name: Public Domain (U.S. Federal Government)
    url: https://www.usa.gov/government-works
servers:
- url: https://www.fvap.gov
  description: FVAP production
tags:
- name: eVAG
  description: Combined electronic Voting Assistance Guide.
paths:
  /xml-api/{state}/evag.xml:
    get:
      tags:
      - eVAG
      summary: Get the combined eVAG feed for a state or territory.
      description: Returns the combined electronic Voting Assistance Guide (eVAG) XML feed bundling important info, deadline dates, ballot rules, and election offices for the specified jurisdiction.
      operationId: getEvag
      parameters:
      - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: Combined eVAG XML feed.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Evag'
components:
  schemas:
    ImportantInfo:
      type: object
      description: FAQ-style important voting information.
      properties:
        questions:
          type: array
          items:
            type: object
            properties:
              question:
                type: string
              answer:
                type: string
    Evag:
      type: object
      description: Combined electronic Voting Assistance Guide bundling all four sections.
      properties:
        important-info:
          $ref: '#/components/schemas/ImportantInfo'
        deadline-dates:
          $ref: '#/components/schemas/DeadlineDates'
        ballot-rules:
          $ref: '#/components/schemas/BallotRules'
        election-offices:
          $ref: '#/components/schemas/ElectionOffices'
    ElectionOffice:
      type: object
      properties:
        jurisdiction:
          type: string
        jurisdiction-type:
          type: string
        fax:
          type: string
        email:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
    BallotRules:
      type: object
      description: Ballot rules grouped into FPCA, FWAB, and VBR sections.
      properties:
        fpca:
          type: array
          items:
            $ref: '#/components/schemas/BallotRule'
        fwab:
          type: array
          items:
            $ref: '#/components/schemas/BallotRule'
        vbr:
          type: array
          items:
            $ref: '#/components/schemas/BallotRule'
    DeadlineDate:
      type: object
      properties:
        election-type:
          type: string
        voting-request-type:
          type: string
        voter-type:
          type: string
        location:
          type: string
        date:
          type: string
          format: date
          nullable: true
    BallotRule:
      type: object
      properties:
        label:
          type: string
        instructions:
          type: string
    ElectionOffices:
      type: object
      properties:
        election-offices:
          type: array
          items:
            $ref: '#/components/schemas/ElectionOffice'
    DeadlineDates:
      type: object
      description: Election deadline dates collection.
      properties:
        deadline-dates:
          type: array
          items:
            $ref: '#/components/schemas/DeadlineDate'
  parameters:
    State:
      name: state
      in: path
      required: true
      description: U.S. state, district, or territory name (PascalCase, e.g. Alabama, NewYork, PuertoRico, DistrictOfColumbia).
      schema:
        type: string
