openapi: 3.0.3
info:
  title: FVAP.gov XML Ballot Rules Important Info API
  description: The Federal Voting Assistance Program (FVAP) publishes XML feeds providing voter information by U.S. state and territory. Each jurisdiction exposes four datasets covering important info, deadline dates, ballot rules, and election offices, plus a combined electronic Voting Assistance Guide (eVAG).
  version: 1.0.0
  contact:
    name: FVAP
    url: https://www.fvap.gov/
  license:
    name: Public Domain (U.S. Federal Government)
    url: https://www.usa.gov/government-works
servers:
- url: https://www.fvap.gov
  description: FVAP production
tags:
- name: Important Info
  description: General voting information for a jurisdiction.
paths:
  /xml-api/{state}/important-info.xml:
    get:
      tags:
      - Important Info
      summary: Get important voting information for a state or territory.
      description: Returns the FAQ-style important voting information XML feed for the specified jurisdiction.
      operationId: getImportantInfo
      parameters:
      - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: Important info XML feed.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ImportantInfo'
components:
  schemas:
    ImportantInfo:
      type: object
      description: FAQ-style important voting information.
      properties:
        questions:
          type: array
          items:
            type: object
            properties:
              question:
                type: string
              answer:
                type: string
  parameters:
    State:
      name: state
      in: path
      required: true
      description: U.S. state, district, or territory name (PascalCase, e.g. Alabama, NewYork, PuertoRico, DistrictOfColumbia).
      schema:
        type: string
