openapi: 3.0.3
info:
  title: FVAP.gov XML Ballot Rules Election Offices API
  description: The Federal Voting Assistance Program (FVAP) publishes XML feeds providing voter information by U.S. state and territory. Each jurisdiction exposes four datasets covering important info, deadline dates, ballot rules, and election offices, plus a combined electronic Voting Assistance Guide (eVAG).
  version: 1.0.0
  contact:
    name: FVAP
    url: https://www.fvap.gov/
  license:
    name: Public Domain (U.S. Federal Government)
    url: https://www.usa.gov/government-works
servers:
- url: https://www.fvap.gov
  description: FVAP production
tags:
- name: Election Offices
  description: Local election office contact information.
paths:
  /xml-api/{state}/election-offices.xml:
    get:
      tags:
      - Election Offices
      summary: Get election offices for a state or territory.
      description: Returns the local election office contact information XML feed for the specified jurisdiction.
      operationId: getElectionOffices
      parameters:
      - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: Election offices XML feed.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ElectionOffices'
components:
  schemas:
    ElectionOffice:
      type: object
      properties:
        jurisdiction:
          type: string
        jurisdiction-type:
          type: string
        fax:
          type: string
        email:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
    ElectionOffices:
      type: object
      properties:
        election-offices:
          type: array
          items:
            $ref: '#/components/schemas/ElectionOffice'
  parameters:
    State:
      name: state
      in: path
      required: true
      description: U.S. state, district, or territory name (PascalCase, e.g. Alabama, NewYork, PuertoRico, DistrictOfColumbia).
      schema:
        type: string
