openapi: 3.0.3
info:
  title: FVAP.gov XML Ballot Rules Deadline Dates API
  description: The Federal Voting Assistance Program (FVAP) publishes XML feeds providing voter information by U.S. state and territory. Each jurisdiction exposes four datasets covering important info, deadline dates, ballot rules, and election offices, plus a combined electronic Voting Assistance Guide (eVAG).
  version: 1.0.0
  contact:
    name: FVAP
    url: https://www.fvap.gov/
  license:
    name: Public Domain (U.S. Federal Government)
    url: https://www.usa.gov/government-works
servers:
- url: https://www.fvap.gov
  description: FVAP production
tags:
- name: Deadline Dates
  description: Election deadlines for a jurisdiction.
paths:
  /xml-api/{state}/deadline-dates.xml:
    get:
      tags:
      - Deadline Dates
      summary: Get deadline dates for a state or territory.
      description: Returns the election deadlines XML feed for the specified jurisdiction.
      operationId: getDeadlineDates
      parameters:
      - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: Deadline dates XML feed.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DeadlineDates'
components:
  parameters:
    State:
      name: state
      in: path
      required: true
      description: U.S. state, district, or territory name (PascalCase, e.g. Alabama, NewYork, PuertoRico, DistrictOfColumbia).
      schema:
        type: string
  schemas:
    DeadlineDates:
      type: object
      description: Election deadline dates collection.
      properties:
        deadline-dates:
          type: array
          items:
            $ref: '#/components/schemas/DeadlineDate'
    DeadlineDate:
      type: object
      properties:
        election-type:
          type: string
        voting-request-type:
          type: string
        voter-type:
          type: string
        location:
          type: string
        date:
          type: string
          format: date
          nullable: true
