openapi: 3.0.3
info:
  title: FVAP.gov XML Ballot Rules API
  description: The Federal Voting Assistance Program (FVAP) publishes XML feeds providing voter information by U.S. state and territory. Each jurisdiction exposes four datasets covering important info, deadline dates, ballot rules, and election offices, plus a combined electronic Voting Assistance Guide (eVAG).
  version: 1.0.0
  contact:
    name: FVAP
    url: https://www.fvap.gov/
  license:
    name: Public Domain (U.S. Federal Government)
    url: https://www.usa.gov/government-works
servers:
- url: https://www.fvap.gov
  description: FVAP production
tags:
- name: Ballot Rules
  description: State-specific ballot rules (FPCA, FWAB, VBR).
paths:
  /xml-api/{state}/ballot-rules.xml:
    get:
      tags:
      - Ballot Rules
      summary: Get ballot rules for a state or territory.
      description: Returns the FPCA, FWAB, and VBR ballot rules XML feed for the specified jurisdiction.
      operationId: getBallotRules
      parameters:
      - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: Ballot rules XML feed.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BallotRules'
components:
  parameters:
    State:
      name: state
      in: path
      required: true
      description: U.S. state, district, or territory name (PascalCase, e.g. Alabama, NewYork, PuertoRico, DistrictOfColumbia).
      schema:
        type: string
  schemas:
    BallotRules:
      type: object
      description: Ballot rules grouped into FPCA, FWAB, and VBR sections.
      properties:
        fpca:
          type: array
          items:
            $ref: '#/components/schemas/BallotRule'
        fwab:
          type: array
          items:
            $ref: '#/components/schemas/BallotRule'
        vbr:
          type: array
          items:
            $ref: '#/components/schemas/BallotRule'
    BallotRule:
      type: object
      properties:
        label:
          type: string
        instructions:
          type: string
